
.b {
    margin-top: 20px;
    border-radius: 30px;
    padding: 8%; 
    transition: all .2s ease-in-out;
    opacity: 0.9;
    width: 450px;
    height: 320px;
    border-radius: 30px;
	border-color: #26a4f2;
	background: none ;
	border-width: 2px;
	border-style: solid;

}

.c
{
	border-radius: 30px;
	border-color: #26a4f2;
	background: none ;
	margin-top: 70px; 
	margin-bottom: 50px;
	border-width: 2px;
	border-style: solid;
}


.b:hover
{
    transform: scale(1.05);
    opacity:1;


}

.main
{
	
	padding-left: 150px;
	height: 60%;
	padding-top: 20px;
}

.t
{
	
	margin-left: 470px;
	
}
.s
{
	border-radius: 30px;
	border-color: white;
	padding: 7px;
	background: none ;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;

}
