
.b {
    margin-top: 20px;
    border-radius: 30px;
    padding: 8%; 
    transition: all .2s ease-in-out;
    opacity: 0.9;
    width: 450px;
    height: 350px;
    border-radius: 30px;
	border-color: #718cab;
	background: none ;
	border-width: 2px;
	border-style: solid;

}

.c
{
	border-radius: 30px;
	border-color: #718cab;;
	background: none ;
	margin-top: 70px; 
	margin-bottom: 50px;
	border-width: 2px;
	border-style: solid;
}


.b:hover
{
    transform: scale(1.05);
    opacity:1;


}

.main
{
	
	margin: 20px;
	height: 60%;
	padding-top: 20px;
	background-color: white;
	
}

.t
{
	
	margin-left: 470px;
	
}
.s
{
	border-radius: 30px;
	border-color: white;
	padding: 7px;
	background: none ;
	border-width: 1.5px;
	border-style: solid;
	cursor: pointer;

}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
